/**
 * Copyright 2025 CloudDetail
 * SPDX-License-Identifier: Apache-2.0
 */

.sourceTypeInfo {
  background: #202023;
  border-radius: 1.5rem;
  margin-top: 12px;
  pre {
    background: #0d0d0e;
    max-height: 300px;
    overflow: auto;
    padding: 12px;
  }
}
