/**
 * Copyright 2024 CloudDetail
 * SPDX-License-Identifier: Apache-2.0
 */

.userManageContainer {
    display: flex;
    flex-direction: column;
    width: 100%;
    height: calc(100vh - 60px);
    position: relative;
}