/**
 * Copyright 2024 CloudDetail
 * SPDX-License-Identifier: Apache-2.0
 */

.rdrCalendarWrapper {
    background: none;
}

.rdrDayNumber span {
    color: var(--text-color);
}

.rdrMonthAndYearPickers select {
    color: var(--text-color)
}

.rdrDayDisabled {
    background-color: var(--body-bg);
    font-size: 0;
}

.rdrDayPassive .rdrDayNumber span {
    color: var(--disabled-color);
}

.rdrDayPassive {
    cursor: no-drop !important;
}

.refresh-date-time .ant-dropdown-button .ant-dropdown-trigger {
    width: auto;
    padding: 0 10px;
}

.rdrDaySelected,
.rdrInRange,
.rdrStartEdge,
.rdrEndEdge {
    background: var(--ant-color-primary) !important;
}