/**
 * Copyright 2025 CloudDetail
 * SPDX-License-Identifier: Apache-2.0
 */

[data-coreui-theme='light'] {
  --body-bg: #f0f1f7;
  --color-sider: #ffffff;
  //   --main-color: #1677ff;
  --main-color: #02706b;
  --row-hover-bg: #fafafa;
  --header-bg: #fafafa;
  --scrollbar-bg: #eaeaea;
  --menu-selected-text-color: #ffffff;
  --cui-primary: #02706b;
  --text-color: #000000;
  --disabled-color: #d5dce0;
  --collapse-bg: #ffffff;
  --active-collapse-bg: var(--ant-color-primary);
  --mask-bg: rgba(0, 0, 0, 0.1);
  --chat-ask-bg: #e9e9e980;
  --chat-ai-bg: #cacbd0;
}

.ant-menu-submenu-selected {
  background-color: var(--ant-color-primary);
}

.ant-menu-sub {
  background-color: var(--color-sider);
}

.ant-menu-submenu-open {
  background-color: var(--color-sider);
}

.ant-menu-submenu-open.ant-menu-submenu-selected .ant-menu-submenu-title {
  color: var(--text-color);
}
