/**
 * Copyright 2024 CloudDetail
 * SPDX-License-Identifier: Apache-2.0
 */

.logRuleItem {
    position: relative;

    .action {
        visibility: hidden;
        position: absolute;
        right: 0;
        top: 50%;
        transform: translateY(-50%);
    }

    &:hover .action {
        visibility: visible;


    }
}