/**
 * Copyright 2024 CloudDetail
 * SPDX-License-Identifier: Apache-2.0
 */

.indexList .ant-collapse-content-box {
  padding: 0 !important;
}

.ant-collapse-header-text {
  overflow: hidden;
  white-space: nowrap;
  text-align: left;
  text-overflow: ellipsis;
}
