/**
 * Copyright 2024 CloudDetail
 * SPDX-License-Identifier: Apache-2.0
 */

.loginBackground {
    width: 100vw;
    height: 100vh;
    justify-content: center;
    align-items: center;
    background-image: url('src/core/assets/brand/bg.jpg');
    background-position-x: 50%;
    background-position-y: 50%;
    background-repeat: no-repeat;
    background-size: cover;
}