/**
 * Copyright 2024 CloudDetail
 * SPDX-License-Identifier: Apache-2.0
 */

.logSiderButton {
  top: 50%;
  position: absolute;
  transform: translate(0, -50%);
  z-index: 100;
  background: #ffffff1a;
  height: 40px;
  border-radius: 0px 100% 100% 0px / 50%;
  display: flex;
  align-items: center;
  cursor: pointer;
}

.openButton {
  /* left: 290px; */
  left: 0;
  transition: left 0.2s ease;
  /* 添加 transition */
}

.closeButton {
  right: 0;
  transition: left 0.2s ease;
  /* 添加 transition */
}