/**
 * Copyright 2024 CloudDetail
 * SPDX-License-Identifier: Apache-2.0
 */

// Variable overrides
//
// If you want to customize your project please add your variables below.

$enable-deprecation-messages: false !default;
$card-border-radius: 0.75rem;
$card-box-shadow: rgba(62, 72, 83, 0.3) 0px 8px 24px;
$--cui-border-radius: 0.75rem;
$--cui-body-bg: rgba(255, 255, 255);
